<!DOCTYPE html>
<html>
<head>
    <title>CCTV</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
</head>
<body>
<style>
    body {
        background-image: url("https://cdn.discordapp.com/attachments/506669690584694805/519339572988084234/spacebackground.jpg");
    }
    h1 {
        text-align: center;
        color: aliceblue;
    }
    div.Camera {
        text-align: center;
        color: aliceblue;
    }
    div.Mainpage {
        color: aliceblue;
    }
</style>
<h1> CCTV </h1>

<div class = "Camera">
    <h2> CCTV 1 </h2>
    <a href="/CCTV_1"><button type="submit"> Access CCTV 1 </button></a>

</div>
<div class = "Camera">
    <h2> CCTV 2 </h2>
    <a href="/CCTV_2"><button type="submit"> Access CCTV 2 </button></a>

</div>
<div class = "Camera">
    <h2> CCTV 3 </h2>
    <a href="/CCTV_3"><button type="submit"> Access CCTV 3 </button></a>

</div>
<div class = "Camera">
    <h2> CCTV 4 </h2>
    <a href="/CCTV_4"><button type="sumbit"> Access CCTV 4 </button></a>
</div>
<div class =  "Mainpage">
    <h2> Return to Mainpage</h2>
    <a href="/"><button type="submit"> Return </button></a>
</div>
</body>
</html>
