<!DOCTYPE html>
<head>
    <title>CCTV 3</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
</head>
<body>
<style>
    body {
        background-image: url("https://cdn.discordapp.com/attachments/506669690584694805/519339572988084234/spacebackground.jpg");
    }
    h1 {
        text-align: center;
        color: aliceblue;
    }
     h3 {
        color: aliceblue;
    }
</style>
<h1>CCTV 3 Settings</h1>
<div class="Record">
    <span>
    <h3> Period of Recording: </h3>
    <select name="DateTime">
        <option value="1"> 0000 </option>
        <option value="2"> 0100 </option>
        <option value="3"> 0200 </option>
        <option value="4"> 0300 </option>
        <option value="5"> 0400 </option>
        <option value="6"> 0500 </option>
        <option value="7"> 0600 </option>
        <option value="8"> 0700 </option>
        <option value="9"> 0800 </option>
        <option value="10"> 0900 </option>
        <option value="11"> 1000 </option>
        <option value="12"> 1100 </option>
        <option value="13"> 1200 </option>
        <option value="14"> 1300 </option>
        <option value="15"> 1400 </option>
        <option value="16"> 1500 </option>
        <option value="17"> 1600 </option>
        <option value="18"> 1700 </option>
        <option value="19"> 1800 </option>
        <option value="20"> 1900 </option>
        <option value="21"> 2000 </option>
        <option value="22"> 2100 </option>
        <option value="23"> 2200 </option>
        <option value="24"> 2300 </option>
    </select>
    <h3> to </h3>
    <select name="DateTime">
        <option value="1"> 0100 </option>
        <option value="2"> 0200 </option>
        <option value="3"> 0300 </option>
        <option value="4"> 0400 </option>
        <option value="5"> 0500 </option>
        <option value="6"> 0600 </option>
        <option value="7"> 0700 </option>
        <option value="8"> 0800 </option>
        <option value="9"> 0900 </option>
        <option value="10"> 1000 </option>
        <option value="11"> 1100 </option>
        <option value="12"> 1200 </option>
        <option value="13"> 1300 </option>
        <option value="14"> 1400 </option>
        <option value="15"> 1500 </option>
        <option value="16"> 1600 </option>
        <option value="17"> 1700 </option>
        <option value="18"> 1800 </option>
        <option value="19"> 1900 </option>
        <option value="20"> 2000 </option>
        <option value="21"> 2100 </option>
        <option value="22"> 2200 </option>
        <option value="23"> 2300 </option>
        <option value="24"> 0000 </option>
    </select>
    </span>
</div>
<a href="/CCTV"><button type="submit"> Return </button></a>

</body>
</html>