<!DOCTYPE html>
<head>
    <title>CCTV 1</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
</head>
<body>
<style>
    body {
        background-image: url("https://cdn.discordapp.com/attachments/506669690584694805/519339572988084234/spacebackground.jpg");
    }
    h1 {
        text-align: center;
        color: aliceblue;
    }
</style>
<h1>CCTV 1 Settings</h1>
<a href="/"><button type="submit"> Return </button></a>

</body>
</html>