<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Light control panel</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='LCP.css') }}">

</head>
<body>
<h1>
Lights Control Panel


</h1>

<div class="container">
  <div class="led-box">
    <div class="led-yellow"></div>
    <p class="R">Light 1</p>
  </div>
	<div class="led-box">
    <div class="led-yellow"></div>
    <p class="R">Light 2</p>
  </div>
  <div class="led-box">
    <div class="led-yellow"></div>
    <p class="R">Light 3</p>
  </div>
  <div class="led-box">
    <div class="led-yellow"></div>
    <p class="R">Light 4</p>
  </div>
</div>

<button type="button" class="button1">ON</button>
<button type="button" class="button2">OFF</button>

<button type="button" class="button3">ON</button>
<button type="button" class="button4">OFF</button>

<button type="button" class="button5">ON</button>
<button type="button" class="button6">OFF</button>

<button type="button" class="button7">On</button>
<button type="button" class="button8">Off</button>


<div class="slidecontainer">
  <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
</div>

<div class="slidecontainer1">
  <input type="range" min="1" max="100" value="50" class="slider1" id="myRange1">
</div>


<div class="slidecontainer2">
  <input type="range" min="1" max="100" value="50" class="slider2" id="myRange2">
</div>


<div class="slidecontainer3">
  <input type="range" min="1" max="100" value="50" class="slider3" id="myRange3">
</div>

</body>
</html>